.center {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.group {
  width: 80%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  color: white;
  margin-top: 0;
}

.main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.actions {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.expense {
  background-color: #3c963c;
}

.invite {
  background-color: #458080;
}

.expense-dates {
  width: 100%;
}

.expense-date {
  font-size: 10px;
  font-weight: bold;
}

.expenses {
  margin: 5px 3px 10px;
  gap: 10px;

  display: flex;
  flex-direction: column;
}

.expense-card {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.expense-day {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  color: #b2b2b2;
}

.expense-description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 1;
}

.expense-payment {
  font-size: 12px;
  color: #b2b2b2;
}

.expense-relative {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 12px;
  font-weight: 500;
}

.tab-group {
  width: 80%;
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.tab-item {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  background-color: #787878;
}

.tab-item.selected {
  background-color: #3c963c; 
}

.tab-item.selected:hover, .tab-item:hover {
  background-color: #00ac00; 
}

.divider {
  width: 80%;
  border: 0;
  border-top: 3px solid #bbb;
  margin: 0 0 20px;
}

.tab {
  width: 100%;
  display: flex;
  justify-content: center;
}
