.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group {
  width: 80%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  color: white;
}

.main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.expense {
  background-color: #3c963c;
}

.invite {
  background-color: #458080;
}
