.select-user-option {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  line-height: 10px;
}

.tiny {
  max-height: 30px;
}

.group-name {
  color: #00ac00;
  font-style: italic
}

.user-select-label {
  text-wrap: nowrap;
  font-size: 14px;
  color: #9f9f9f;
}

select.currency-select {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;

  margin-right: 5px;
  font-weight: bold;
  padding: 3px 5px;
  background-color: transparent;
  color: white;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  /* display: none;
    -webkit-appearance: none; */
  margin: 0;
  cursor: pointer;
  color-scheme: dark;
  font-size: 20px;
}

input[type="datetime-local"]::-webkit-datetime-edit {
  display: none;
}
