.App {
  width: 99%;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  padding: 10px 0;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 1;

  box-shadow: 0 0 1rem 1px rgb(40, 44, 52);
}

.main {
  background-color: #282c34;
  color: white;

  min-height: 100vh;
  margin-top: 81px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flext-start;
}

.content {
  width: 100%;

  display: flex;
  justify-content: center;
}

/* ***************************************************************************************************** */
/* *************** Text decorations *************** */
/* ***************************************************************************************************** */

.link {
  color: white;
  text-decoration: none;
}

.button:disabled {

  background-color: #00ac00;
  color: gray;
  cursor: not-allowed;
}

.button.primary {
  background-color: #00ac00;
}

.button.secondary {
  background-color: gray;
}

.button {
  border: 0;
  border-radius: 5px;
  padding: 7px 10px;

  background-color: transparent;
  cursor: pointer;

  color: white;
  font-family: var(--font-family);
  font-size: 16px;
}

.notification-button {
  border: 0;
  border-radius: 5px;
  padding: 7px 10px;

  background-color: transparent;
  cursor: pointer;

  color: white;
  font-family: var(--font-family);
  font-size: 10px;
}

.notification-cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification-card {
  color: white;
  background-color: #191a1f;
  border-radius: 10px;
  padding: 10px;
}

.notification-card-controls {
  margin-left: 10px;
  display: inline-flex;
  gap: 3px;
}

.notification-button.primary {
  background-color: #00ac00;
}

.notification-button.cancel {
  background-color: #ca0808;
}

.group-name {
  color: green;
  font-style: italic
}
