:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}

input {
  background-color: #282c34;
  border: 0;

  color: white;
  font-family: var(--font-family);
  font-size: 16px;
}

textarea {
  background-color: #282c34;
  border: 0;

  color: white;
  font-family: var(--font-family);
  font-size: 16px;
}

button {
  border: 0;
  border-radius: 5px;

  background-color: transparent;
  cursor: pointer;

  padding: 0;
  color: white;
  font-family: var(--font-family);
}

/* ***************************************************************************************************** */
/* *************** Checkbox *************** */
/* ***************************************************************************************************** */

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0 2px 0 0;

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.13em solid currentColor;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  --form-control-color: white;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
